<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FHQ | Quests</title>
	<link rel="stylesheet" href="main.css">
</head>

<body>
	<div class="wrap">
		<nav class="nav-menu"></nav>
		<div class="main-container">
			<header class="page-header">
				<div class="menu-toggle"></div>
			</header>
			<div class="quests">
				<article class="quest">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, tenetur sit accusamus.</article>
				<article class="quest">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim veniam inventore voluptatibus.</article>
				<article class="quest">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quae alias ex.</article>
				<article class="quest">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat fugit voluptas similique.</article>
				<article class="quest">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate asperiores quasi?</article>
				<article class="quest">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos maxime doloremque fugiat.</article>
				<article class="quest">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque tenetur dolores accusantium!</article>
			</div>
			<footer class="page-footer"></footer>
		</div>
		<aside class="info-menu"></aside>
	</div>
	<script src="components.js"></script>
	<script src="main.js"></script>
</body>

</html>
