<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FHQ | Quests</title>
	<link rel="stylesheet" href="main.css">
	<script src="head.js"></script>
</head>

<body>
	<div class="wrap">
		<nav class="nav-menu">
			<header>
				<h1>Nitive</h1>
				<!-- toggle-extra-menu:svg -->
				<!-- endinject -->
			</header>
			<ul>
				<li><a href="#">Profile</a></li>
				<li><a href="#">Favorites</a></li>
			</ul>
			<ul>
				<li><a href="#">Quests</a></li>
				<li><a href="#">Games</a></li>
				<li><a href="#">Rating</a></li>
				<li><a href="#">News</a></li>
			</ul>
		</nav>
		<div class="main-container">
			<header class="page-header">
				<div class="menu-toggle"></div>
			</header>
			<div class="search ios-search-field"></div>
			<div class="quests"></div>
			<footer class="page-footer"></footer>
		</div>
		<aside class="info-menu"></aside>
	</div>
	<script src="components.js"></script>
	<script src="main.js"></script>
</body>

</html>
