<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FHQ | Quests</title>
	<link rel="stylesheet" href="main.css">
</head>

<body>
	<div class="wrap">
		<nav class="nav-menu">
			<header>
				<h1>Nitive</h1>
				<!-- toggle-extra-menu:svg -->
				<!-- endinject -->
			</header>
			<ul>
				<li><a href="#">Profile</a></li>
				<li><a href="#">Favorites</a></li>
			</ul>
			<ul>
				<li><a href="#">Quests</a></li>
				<li><a href="#">Games</a></li>
				<li><a href="#">Rating</a></li>
				<li><a href="#">News</a></li>
			</ul>
		</nav>
		<div class="main-container">
			<header class="page-header">
				<div class="menu-toggle"></div>
			</header>
			<div class="search ios-search-field"></div>
			<div class="quests">
				<article class="quest">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat sequi, ex natus.</article>
				<article class="quest">Fugiat sit fugit adipisci, blanditiis perspiciatis odio eos ab quo incidunt facere.</article>
				<article class="quest">Delectus eos rerum odio vel mollitia similique reprehenderit modi dignissimos. Officiis, suscipit.</article>
				<article class="quest">Fuga quis voluptatum eos sed molestiae necessitatibus excepturi, et autem est officia.</article>
				<article class="quest">Adipisci autem nihil nemo libero obcaecati tempore, blanditiis aliquid reiciendis unde, saepe.</article>
				<article class="quest">Quae cumque neque praesentium, in ipsum, perferendis ratione nihil nobis magnam corporis!</article>
				<article class="quest">Deleniti vel sit earum natus aut pariatur similique neque eligendi ratione deserunt.</article>
				<article class="quest">Adipisci quidem quia ea velit sint dignissimos minima molestias, neque repudiandae earum!</article>
			</div>
			<footer class="page-footer"></footer>
		</div>
		<aside class="info-menu"></aside>
	</div>
	<script src="components.js"></script>
	<script src="main.js"></script>
</body>

</html>
