@import 'nav-menu'
@import 'page-header'
@import 'rating'
@import 'quests'
@import 'search'

body
	background-color main-light-bg

.wrap
	position relative
	margin 0 auto
	max-width max-screen
	@media (max-width: hide-info-menu)
		overflow-x hidden
		overflow-y scroll
		-webkit-overflow-scrolling touch

.main-container
	position relative
	height 100vh
	transition margin fast, width fast
	margin-left nav-menu-width
	width "calc(100% - %s)" % (nav-menu-width + info-menu-width)
	@media (max-width: hide-info-menu)
		width "calc(100% - %s)" % nav-menu-width
	@media (max-width: hide-nav-menu)
		margin-left 0
		width 100%

.opened-nav-menu
	@media (max-width: hide-nav-menu)
		margin-left nav-menu-width
		width 100%

.page-footer
	height footer-height
	background-color red
