@import 'nav-menu'

body
	background-color main-light-bg

.menu-toggle
	height header-height
	width 100px
	background-color #444
	cursor pointer
	@media (min-width: hide-nav-menu)
		display none

.wrap
	position relative
	margin 0 auto
	max-width max-screen
	@media (max-width: hide-info-menu)
		overflow-x hidden
		overflow-y scroll
		-webkit-overflow-scrolling touch

.upside
	transform rotate(.5turn)

.nav-menu
	position fixed
	height 100%
	width nav-menu-width
	background-color main-dark-bg
	line-height 1

	radius = 14px
	offset = ((header-height - radius * 2) / 2)
	menu-font-size = 24px
	center-of(height)
		padding-top ((height - menu-font-size) / 2)
		padding-bottom ((height - menu-font-size) / 2)

	h1
		position relative
		font-weight light
		font-size 24px
		text-align center
		margin 0
		center-of header-height
		width nav-menu-width - header-height + offset
		display inline-block
		color main-green

	header
		cursor pointer
		&:hover
			svg
				path
					fill-opacity .4
		& + ul
			display none
			background-color #242a30
			li
				center-of 40px
			li:first-child
				border-top 2px
	svg
		transition transform normal
		position absolute
		top offset
		right offset
		path
			transition fill-opacity normal
	ul
		margin 0
		padding 0
		list-style-type none
	li:first-child
		border 0
		border-top 1px
		border-bottom 1px
		border-image: separator
	li
		font-size 23px
		cursor pointer
		center-of 45px
		// text-align center
		padding-left 30px
		border 0
		border-bottom 1px
		border-image: separator
		&:hover
			background-image radial-gradient(35% 120%, rgba(0, 223, 144, .2) 10%, rgba(0, 223, 144, 0) 120%)

.info-menu
	position fixed
	top 0
	height 100%
	width info-menu-width
	background-color main-dark-bg

	// always in right
	right "calc((100% - %s) / 2)" % max-screen
	@media (max-width: max-screen)
		right 0

	transition margin normal
	@media (max-width: hide-info-menu)
		margin-right "-%s" % info-menu-width

.main-container.opened-menu
	@media (max-width: hide-nav-menu)
		margin-left nav-menu-width
		width 100%

.main-container
	position relative
	height 100vh
	transition margin normal, width normal
	margin-left nav-menu-width
	width "calc(100% - %s)" % (nav-menu-width + info-menu-width)
	@media (max-width: hide-info-menu)
		width "calc(100% - %s)" % nav-menu-width
	@media (max-width: hide-nav-menu)
		margin-left 0
		width 100%

.page-header
	position fixed
	height header-height
	width 100%
	background-color main-dark-bg

.search
	height header-height
	padding-top header-height
	background-color blue

.quests
	display table
	min-height "calc(100% - %s)" % (footer-height + header-height)
	background-color main-light-bg

.page-footer
	height footer-height
	background-color red

.quest
	display inline-table
	height 200px
	width 380px
	background-color #aaa
	margin 10px
