@import 'nav-menu'

body
	background-color main-light-bg

.menu-toggle
	height header-height
	width 100px
	background-color #444
	cursor pointer
	@media (min-width: hide-nav-menu)
		display none

.wrap
	position relative
	margin 0 auto
	max-width max-screen
	@media (max-width: hide-info-menu)
		overflow-x hidden
		overflow-y scroll
		-webkit-overflow-scrolling touch

.info-menu
	position fixed
	top 0
	height 100%
	width info-menu-width
	background-color main-dark-bg

	// always in right
	right "calc((100% - %s) / 2)" % max-screen
	@media (max-width: max-screen)
		right 0

	transition margin normal
	@media (max-width: hide-info-menu)
		margin-right "-%s" % info-menu-width

.main-container
	position relative
	height 100vh
	transition margin normal, width normal
	margin-left nav-menu-width
	width "calc(100% - %s)" % (nav-menu-width + info-menu-width)
	@media (max-width: hide-info-menu)
		width "calc(100% - %s)" % nav-menu-width
	@media (max-width: hide-nav-menu)
		margin-left 0
		width 100%

.opened-nav-menu
	@media (max-width: hide-nav-menu)
		margin-left nav-menu-width
		width 100%

.page-header
	position fixed
	height header-height
	background-color main-dark-bg

	// width always is 100%
	width "calc(100% - %s)" % (nav-menu-width + info-menu-width)
	@media (max-width: hide-info-menu)
		width "calc(100% - %s)" % info-menu-width
	@media (max-width: hide-nav-menu)
		width 100%
	@media (min-width: max-screen)
		width max-screen - (nav-menu-width + info-menu-width)

.search
	height header-height
	padding-top header-height
	background-color blue

.quests
	display table
	min-height "calc(100% - %s)" % (footer-height + header-height)
	background-color main-light-bg

.page-footer
	height footer-height
	background-color red

.quest
	display inline-table
	height 200px
	width 380px
	background-color #aaa
	margin 10px
