.upside
	transform rotate(.5turn)

.nav-menu
	position fixed
	height 100%
	width nav-menu-width
	background-color main-dark-bg
	line-height 1
	-webkit-tap-highlight-color alpha(main-green, .1)
	@media (max-width: hide-nav-menu)
		user-select none
	ul:last-child:after
		content ''
		position absolute
		left 0
		background-image separator
		height 2px
		width 100%


	radius = 14px
	offset = ((header-height - radius * 2) / 2)
	menu-font-size = 24px
	center-of(height)
		padding-top ((height - menu-font-size) / 2)
		padding-bottom ((height - menu-font-size) / 2)

	h1
		position relative
		font-weight light
		font-size 24px
		text-align center
		margin 0
		center-of header-height
		width nav-menu-width - header-height + offset
		display inline-block
		color main-green

	header
		cursor pointer
		&:hover
			svg
				path
					@media (min-width: hide-nav-menu)
						fill-opacity .4
		& + ul
			display none
			background-color #242a30
			li
				center-of 42px
	svg
		transition transform normal
		position absolute
		top offset
		right offset
		path
			transition fill-opacity normal
	ul
		margin 0
		padding 0
		list-style-type none
	li
		position relative
		font-size 23px
		cursor pointer
		center-of 46px
		padding-left 30px
		&:after
			content ''
			position absolute
			top 0
			left 0
			background-image separator
			height 1px
			width 100%
		&:first-child
			&:after
				height 2px

		@media (min-width: hide-nav-menu)
			&:hover
				background-image radial-gradient(35% 120%, rgba(0, 223, 144, .2) 10%, rgba(0, 223, 144, 0) 120%)
