.upside
	transform rotate(.5turn)

.nav-menu
	user-select none
	position fixed
	height 100%
	width nav-menu-width
	background-color main-dark-bg
	line-height 1
	-webkit-tap-highlight-color alpha(link-color, .1)
	@media (max-width: hide-nav-menu)
		user-select none
	ul:last-child:after
		{separator-after}
		height 2px

	radius = 14px
	offset = ((header-height - radius * 2) / 2)

	h1
		position relative
		font-weight light
		font-size 24px
		text-align center
		margin 0
		center-of header-height
		width nav-menu-width - header-height + offset
		display inline-block
		color link-color

	header
		cursor pointer
		&:hover
			svg
				@media (min-width: hide-nav-menu)
					fill-opacity .3
		& + ul
			display none
			background-color #242a30
			a
				center-of 42px
	svg
		width 28px
		height 28px
		transition transform normal
		position absolute
		top offset
		right offset
		fill-opacity 0
		transition fill-opacity normal, transform normal
	ul
		margin 0
		padding 0
		list-style-type none
		font-size 23px
	li
		box-sizing padding-box
		position relative
		cursor pointer
		&:after
			{separator-after}
			top 0
			height 1px
		&:first-child
			&:after
				height 2px
	a
		display block
		center-of 46px
		padding-left 30px

		@media (min-width: hide-nav-menu)
			&:hover
				background-image hover-gradient
