.page-header
	position fixed
	height header-height
	background-color main-dark-bg
	color #f4f4f4

	transition width normal
	// width always is 100%
	width "calc(100% - %s)" % (nav-menu-width + info-menu-width)
	@media (max-width: hide-info-menu)
		width "calc(100% - %s)" % info-menu-width
	@media (max-width: hide-nav-menu)
		width 100%
	@media (min-width: max-screen)
		width max-screen - (nav-menu-width + info-menu-width)
	h2
		position absolute
		display inline-block
		margin-top -1px
		font-size 29px
		font-weight light
		center-of header-height, @font-size * 1.5

#navicon
	width 30px
	height 25px
	padding 0 16px
	background-color alpha(#000, .1)
	center-of header-height, @height
	cursor pointer
	@media (min-width: hide-nav-menu)
		display none

#page-icon
	fill #f4f4f4
	width 21px
	height 21px
	padding-left 16px
	padding-right 10px
	center-of header-height, @height
