.quests
	// min-height "calc(100% - %s)" % (footer-height + header-height)
	padding-top 15px

	& > div
		display inline-table
		width 50%
		@media (max-width: hide-nav-menu + 230px)
			width 100%

	article
		margin 0 10px 20px
		height 178px

		background-color #f4f4f4
		border-radius 4px

		h4
			margin 0
			display inline
			color link-color
			font-weight light
			&:after
				content ' by sea-kg'
				color gray
		p
			$font-size = 26px;
			$line-height = 1.4;
			$lines-to-show = 2;

			display: block; /* Fallback for non-webkit */
			display: -webkit-box;
			max-width: 400px;
			height: $font-size * $line-height * $lines-to-show; /* Fallback for non-webkit */
			margin: 0 auto;
			font-size: $font-size;
			line-height: $line-height;
			-webkit-line-clamp: $lines-to-show;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
