.quests
	display table
	min-height "calc(100% - %s)" % (footer-height + header-height)
	background-color main-light-bg

	article
		display inline-table
		height 200px
		width 380px
		background-color #aaa
		margin 10px
