.search
	padding-top header-height
	background-color main-light-bg

	input
		mrg-t-b = 16px
		mrg-l-r = 39px
		margin mrg-t-b mrg-l-r
		pdg-l-r = 16px
		pdg-t-b = 3px
		padding pdg-t-b pdg-l-r
		width "calc(100% - %s)" % (mrg-l-r * 2 + pdg-l-r * 2 + pdg-t-b)
		border 0
		border-radius 4px
		font-size 24px
		font-weight ultra-light
		letter-spacing -.1rem
		background-color #e4e4e4
		outline none
