webfont("Avenir Next Cyr", "AvenirNextCyr-Medium", bold)
webfont("Avenir Next Cyr", "AvenirNextCyr-Regular", light)
webfont("Avenir Next Cyr", "AvenirNextCyr-Light", ultra-light)

body
	height 100%
	width 100%
	background-color #f6f6f6
	overflow-x hidden

	// fonts
	font-family "Avenir Next Cyr", "Helvetica Neue", Helvetica, Arial, sans-serif
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	line-height 1.5
	letter-spacing -0.05rem
	text-rendering optimizeLegibility
	-moz-font-feature-settings "liga" on

	font-size s("calc(" + font-min-size + "px + " + (font-max-size - font-min-size) + " * ((100vw - " + font-min-screen-height + "px) / " + (font-max-screen-height - font-min-screen-height) + "))")

div, a
	&:focus
		outline none

$max-row-width = 1100px
@media (min-width: $max-row-width + 30px)
	.maxwidth
		width $max-row-width
		margin-left auto
		margin-right auto

.transparent-button
	-webkit-tap-highlight-color alpha(link-color, .5)
	transition background-color normal, color normal
	padding 11px 53px 15px
	color link-color
	background-color transparent
	border 2px solid link-color
	border-radius 5px
	font-size 32px
	cursor pointer
	user-select none
	&:hover
		@media (min-width: hide-nav-menu)
			color white
			background-color link-color

a, a:hover
	-webkit-tap-highlight-color alpha(white, .1)
	transition box-shadow 0.5s
	color link-color
	text-decoration none

input.ondark
	display block
	width 100%
	padding 12px 20px
	margin-bottom 24px
	font-size 25px
	background #2f2f2f
	border 1px solid link-color
	border-radius 5px
	outline none
