// colors
main-dark-bg = #343d46
main-light-bg = #c0c5ce
main-green = #00e090

// font
font-min-size = 20
font-max-size = 25
font-max-screen-height = 1440
font-min-screen-height = 320

// main page
nav-menu-width = 228px
info-menu-width = 227px
max-screen = 1440px
header-height = 60px
hide-info-menu = 1100px
hide-nav-menu = 600px
footer-height = 100px
fast = .3s
